# SkyPipe — Cloud & Distributed Computing (DSC3219)

fastapi>=0.109.0
uvicorn[standard]>=0.27.0
pydantic>=2.5.0
pydantic-settings>=2.1.0
python-multipart>=0.0.6
PyJWT>=2.8.0
boto3>=1.34.0
duckdb>=1.0.0

pyspark>=3.5.0
pyarrow>=14.0.0
openpyxl>=3.1.2

google-cloud-storage>=2.14.0
google-auth>=2.26.0
pandas>=2.0.0

python-dotenv>=1.0.0
